*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
    font-size: 18px;
}
body{

    background-size: cover;

  
}
.wrapper{
    width: 450px;
    background-color: #8b7bf7;
    padding: 70px 40px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    box-shadow: 0 20px 25px rgba(58, 25, 25, 0.25);
    border-radius: 8.5px;
    display: flex;
    justify-content: space-between;
}
.container{
    width: 50%;
}
input{
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: 2px solid #ead5d5;
    outline: none;
    margin-top: 8px;
    padding: 0 10px;
}
input:focus{
    border-color: #d11d50;
}

h1{
    font-size: 45px;
    margin: 45px;
    font-family: "Roboto Mono";
}
